@import "tailwindcss";

@plugin "daisyui" {
  themes: dracula, cupcake;
}

@plugin "daisyui/theme" {
  name: "dracula";
  default: true;
  color-scheme: dark;

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
